@using MyHomework.WebApp.Models
@model HomeViewModel
@{
    ViewData["Title"] = "Welcome";
}

<div>Welcome to MyHomework!</div>
<a asp-area="" asp-controller="Account" asp-action="Login">Login With WeChat</a>
