<link rel="stylesheet" href="~/css/header.css" />

<div id="header">
    <div id="header-banner">
        <div id="header-left">MyHomework!</div>
        <div id="header-right">@Html.Partial("SignIn")</div>
        <div class="clear"></div>
    </div>
</div>