.dialog-all .dialog-mask {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #373737;
    height: 100%;
    filter: alpha(opacity=50);
    z-index: 1050;
    opacity: 0.3;
}

.dialog-all .dialog-wrap {
    position: fixed;
    overflow: auto;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 1050;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.dialog-all .dialog-content {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 6px 6px;
    background-clip: padding-box;
}

.dialog-all .dialog-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 21px;
    position: absolute;
    right: 20px;
    top: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    text-decoration: none;
}

.dialog-all .dialog-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}

.dialog-all .dialog-close-x::after {
    content: "x";
}
.dialog-all .dialog-header {
    padding: 13px 20px 14px 20px;
    border-radius: 5px 5px 0 0;
    background: #fff;
    color: #666;
    border-bottom: 1px solid #d9d9d9;
    font-size: 1.3em;
    font-weight: 500;
}

.dialog-all .dialog-body {
    padding: 20px;
}