.message-box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.message-box ul li {
    list-style-type: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.message-box pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-box .publish-message-botton {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.message-box .publish-message-botton:hover {
    background-color: #dddddd;
}

.message-box .message-publisher-form .message-publisher-title {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    width: 550px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    color: black;
    font-family: inherit;
}

.message-box .message-publisher-form .message-publisher-content {
    resize: none;
    margin-bottom: 10px;
    font-size: 1em;
    width: 550px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    color: black;
    font-family: inherit;
}

.message-box .file-uploader-wrap div:nth-last-child(2) {
    margin-bottom: 10px;
}

.message-box .file-uploader-wrap .file-wrap:hover {
    background-color: #dfdfdf;
}

.message-box .remove-file-button {
    float: right;
}

.message-box .remove-file-button:after {
    content: "删除";
}

.message-box input[type="file"] {
    display: none;
}

.message-box .file-uploader-custom-file-upload
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.message-box .file-uploader-custom-file-upload:hover {
    background-color: #dddddd;
}

.message-box .file-uploader-wrap {
    margin-bottom: 10px;
}

.message-box .message-publisher-submit {
    float: right;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow:none;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.message-box .message-list {
    padding-top: 20px;
}

.message-box .message-box-message{
    border-bottom: 1px solid #dddddd;
    padding: 10px 0 10px 0
}

.message-box .message-publisher-submit:hover {
    background-color: #dddddd;
}

.message-box .message-box-message .message-box-message-title {
    display: inline-block;
    float: left;
    font-weight: 500;
}

.message-box .message-box-message .message-box-message-createddatetime {
    display: inline-block;
    float: right;
}

.message-box .message-box-message .message-box-message-body {
    display: block;
}

.message-box .message-box-message .message-box-message-files {
    background-color: #eeeeee;
    text-align: right;
    padding-right: 20px;
}