body {
    font-size: 12px;
    font-family: 'Microsoft YaHei UI','Microsoft YaHei','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;
    font-weight: 300;
    margin: 0;
}

#body {
    max-width: 1200px;
    margin: 0 auto 0;
}


.clear{
    clear: both;
}