h1 {
    font-size: 4em;
}

a, a:visited {
    text-decoration: none;
    color: #00749e;
}

a:hover {
    color:#0095c4;
}

#content {
    margin-left:10px;
    margin-right:10px;
}

.title {
    display: table;
    margin: 20px auto 0;
}

.login{
    display: table;
    margin: 0 auto 0;
    font-size: 2em;
}