@using MyHomework.WebApp.Models
@model WelcomeViewModel
@{
    Layout = "_Welcome";
}

<div class="title">
    <h1>欢迎来到MyHomework!</h1>
</div>
<div class="login">
    <a asp-area="" asp-controller="Account" asp-action="Login" id="returnurl" value="@Model.ReturnUrl">点击这里使用微信扫码登陆</a>
</div>
