@using MyHomework.WebApp.Models
@model HomeworkPublishViewModel
@{
    ViewData["Title"] = "消息";
}

<link rel="stylesheet" href="~/css/dialog.css" />
<link rel="stylesheet" href="~/css/messageBox.css" />

<div id="MessageBox"></div>
<script type="text/babel" src="~/js/messagebox.jsx"></script>